[settings]
python.uv_venv_auto = true

[tools]
python = "latest"
uv = "latest"

[env]
_.file = ".env"
_.python.venv = { path = ".venv", create = true }

[tasks.test]
run = "mise-tasks/test.sh"

[tasks.solve]
run = "mise-tasks/solve.sh"

